@charset "UTF-8";
body{

font-family:Arial;

}


.sidebar{

width:200px;

background:black;

color:white;

height:100vh;

float:left;

padding:20px;

}


.sidebar a{

display:block;

color:white;

padding:10px;

text-decoration:none;

}


.sidebar a:hover{

background:gray;

}


.main{

margin-left:220px;

padding:20px;

}


.card{

background:lightgray;

padding:20px;

margin:10px;

display:inline-block;

}